 *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

body {
    background-color:rgb(79, 71, 71);
    color: #fff;
}


.container {
    padding: 10px 10px;
    
}

.timeDayDate{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-style: italic;
    font-size: medium;
    background-color: rgb(100, 63, 25);
    width: 100%;
    height:40px;
    margin-top: -9px;

}


.timeDayDate p{
    padding: 8px;

}



nav {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: peru;
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav ul li a:hover::after{
    width: 100%;

}


.profilePicture {
    display: flex;
    justify-content: left;
    left: 15px;
    position: relative;
}

.profilePicture img{
    box-shadow: 5px 0px 45px 1px rgb(100, 63, 25), 7px 5px 30px 0px peru ;
}

.About{
    text-align: justify;
    left: 35%;
    position: absolute;
    top: 27%;
    width: 50%;
    display: inline;
}

.About p{
    line-height: 44px;
    display: flex;
    position: relative;
    font-size: 18px;
    top: 20px;
}

.About h1 {
 white-space: nowrap;
 font-size: 47px;
 text-align: center;
 line-height: 50px;
}

.About h1 span {
color:rgb(100, 63, 25);
text-shadow: 2px 2px darkgoldenrod;
font-size: 70px;
font-weight: 600;
font-family: cursive;

}
 .others{
    display: inline-flex;
    width: 100%;
    position: absolute;
    left: 15px;
    margin-top: 85px;
    justify-content: space-between;
    right: 15px;
    
 } 

 .others .Experience {
    width: 25%;
    text-align: justify;
    line-height: 30px;
    font-weight: 600;
    background-color:  rgba(179, 111, 43, 0.5);
    padding: 20px;
    border-radius: 15px;
    
 }

 .others .Experience h2  {
     font-weight: 800;
     bottom: 20px;
     padding: 25px;
     white-space: nowrap;
     text-transform: uppercase;
     overflow: hidden;
     color: rgb(79, 71, 71);
     text-shadow: 2px 2px black;
 }

 .others .Experience p a {
    color:lawngreen;

 }

 .others .two-years-Goal {
    width: 40%;
    text-align: justify;
    background-color:  rgba(222, 121, 20, 0.5);
    padding: 25px;
    border-radius: 15px;
    font-weight: 600;
    line-height: 25px;
 }

 .others .two-years-Goal h2 {
    text-transform: uppercase;
    font-weight: 800;
     bottom: 20px;
     padding: 25px;
     white-space: nowrap;
     overflow: hidden;
     color: rgb(79, 71, 71);
     text-shadow: 2px 2px black;
     text-align: center;
 }

 .others .two-years-Goal h3 {
    text-transform: capitalize;
    line-height: 30px;
    margin-top: 20px;
    color: rgb(79, 71, 71);
     text-shadow: 1px 1px black;
 }

 .year-two {
    width: 30%;
    text-align: justify;
    background-color:  rgba(187, 93, 0, 0.5);
    padding: 25px;
    border-radius: 15px;
    font-weight: 600;
    line-height: 50px;
    margin-right: 15px;
 }

 .year-two h2 {
    color: rgb(79, 71, 71);
     text-shadow: 2px 2px black;
     white-space: nowrap;
 }

 .year-two h2 span {
    color: rgb(79, 71, 71);
     text-shadow: 2px 2px black;
 }

 .contact-mail {
    margin:15px;
   

 }

 .contact-mail button {
   background-color: rgb(100, 63, 25); 
   padding: 15px;
   color: lawngreen;
 }

 .contact-mail p {
    font-family: sans-serif;
    font-size: larger;
    color: cornsilk;
 }

 @media only screen and (max-width:600px) {
    .timeDayDate {display: flex;
    flex-direction: column;
font-size: 9px;
justify-content: center;
margin-left: 30px;}

.container{
    width: 100%;
}

nav ul li a{
    font-size: 10px;
    
}

.profilePicture{
    left:7px;
}

.About{
    text-align: justify;
    margin:20px;
    position: relative;
    top: -2px;
    left: 20px;
    width: 90%;
}

.About h1 {
    white-space: nowrap;
    font-size: 28px;
    text-align: center;
    line-height: 44px;
    color: floralwhite;
}

.About p{
    line-height: 20px;
    font-size: 15px;
    width: 90%;
    text-align: justify;
    color: floralwhite;
    margin-left: 5%;
}

.others{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 15px;
    margin-top: 85px;
    justify-content: center;
    right: 15px;
    
 }

 .others .Experience {
    width: 100%;
    text-align: justify;
    margin-bottom: 25px;
    margin-left: 30px;
    
    
 }

 .others .two-years-Goal {
    width: 100%;
    text-align: justify;
    margin-bottom: 25px;
    margin-left: 30px;
    
 }

 .year-two {
    width: 100%;
    text-align: justify;
    margin-left: 30px;
 }

 .year-two h2 {
     font-size: 13px;
     white-space: nowrap;
     text-transform: uppercase;
 }

 .contact-mail button {
    height: 10px;
    display: flex;
    padding: 17px;
    border-radius: 25px;
 }


 }
  
